.form-group {
    margin-bottom: 15px; /* Espacio entre los campos del formulario */
}

.form-control {
    width: 100%; /* Asegura que los campos ocupen todo el ancho del contenedor */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Bordes suaves */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 1rem; /* Tamaño de fuente */
}

.form-control:focus {
    border-color: #007bff; /* Color de borde al enfocarse */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra al enfocar */
}

.btn {
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 10px 15px; /* Espaciado interno del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición suave */
}

.btn:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

.admin-heading{
    margin: 20px;
}